.aw-eshopcart-cartsm {
	background: url(/modules/eshopcart/images/cart.png) no-repeat;
	min-height: 24px;
	padding-top: 5px;
	padding-left: 30px;
}

.aw-eshopcart-cartsm .eccwrap { 
	position: relative;
}

.aw-eshopcart-cartsm #aw-eshopcart-loadingimg {
	position: absolute;
	left: -26px;
}
