.aw-eshop .cartproductlist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}

.aw-eshop .cartproductlist .elrow {
	position: relative;
	border-bottom: 1px solid #DCDEE4;
	cursor: pointer;
	font-size: 13px;
}
.aw-eshop .cartproductlist .elrow:hover {
	background-color: #FFF0C6;
}

.aw-eshop .cartproductlist .elrow table.tline {
	width: 100%;
}

.aw-eshop .cartproductlist .elrow .tline td {
	padding: 5px 0 5px 5px;
}
.aw-eshop .cartproductlist .elrow .tline td.tl {
	width: 140px;
}