.aw-eshopcart .ordering {
	padding: 0px 10px 10px 10px;
	min-width: 800px;
	min-height: 400px;
}
.aw-eshopcart .ordering .red {
	color: red;
}
.aw-eshopcart .ordering .cartinfo {
	padding-bottom: 8px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	text-align: right;
	font-size: 14px;
}

.aw-eshopcart .ordering .contview {
	min-height: 350px;
}

.aw-eshopcart .ordering .delivery .editform {
	margin-top: 10px;
}
.aw-eshopcart .ordering .delrow {
	margin-bottom: 3px;
}
.aw-eshopcart .ordering .delrow input {
	margin-right: 5px;
}
.aw-eshopcart .ordering .editform {
   border-top: 1px solid #CCCCCC;
   padding-top: 10px;
}
.aw-eshopcart .ordering .editform textarea.inp {
    height: 50px;
}

.aw-eshopcart .ordering .payrow input {
	margin-right: 5px;
}
